body
{
    color: #222;
    background: #ffffff;
    font-family: "Helvetica Neue" , Helvetica, Arial, sans-serif;
    line-height: 1.6em;
    font-size: 1em;
    line-height: 1.4;
    font-family: "Gill Sans" , Calibri, Trebuchet, sans-serif;
    color: #3F3F3F;
}

.widget
{
    width: 310px;
    margin: 20px;
    padding: 10px;
    background: #f3f1eb;
    border: 1px solid #dedbd1;
    margin-bottom: 15px;
}

.widget a
{
    color: #222;
    text-decoration: none;
}

.widget a:hover
{
    color: #009;
    text-decoration: underline;
}

.tabnav li
{
    display: inline;
    list-style: none;
    padding-right: 5px;
}

.tabnav li a
{
    text-decoration: none;
    text-transform: uppercase;
    color: #222;
    font-weight: bold;
    padding: 4px 6px;
    outline: none;
    border: 1px #aaa solid;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-selected a
{
    background: #dedbd1;
    color: #222;
    text-decoration: none;
}

.tabdiv
{
    margin-top: 2px;
    background: #fff;
    border: 1px solid #dedbd1;
    padding: 5px;
}

.tabdiv li
{

    margin-left: 20px;
}

.ui-tabs-hide
{
    display: none;
}

#featuredvid
{
    text-align: center;
}

.fvid
{
    margin-bottom: 5px;
}

.vidselector li
{
    text-align: left;
    list-style: none;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #dedbd1;
    text-transform: uppercase;
    margin-bottom: 5px;
}

H1
{
    font-size: 1.8em;
}
H4
{
    font-size: 1.2em;
}

A:link, A:visited
{
    color: #888;
}
A:hover
{
    background: #111;
    color: #DDD;
}
.content
{
    margin: 0 auto;
    width: 960px;
    clear: both;
    padding: 10px;
    background: #FFFFFF;
}
/*Button replacement - start*/
.button
{
    margin: 10px 0;
}
.button LI
{
    list-style: none;
    display: inline;
    margin: 0 20px 0 0;
}
.button A
{
    color: #FFFFFF;
    font-weight: bold;
    background: #1D7FF6;
    text-decoration: none;
    line-height: 20px;
    padding: 10px;
}
.button A:hover
{
    background: #FE8F00;
}
/*Button replacement - end
Page wide settings - end
Header - start*/
.logo
{
    margin: 0 auto;
    width: 960px;
    clear: both;
    padding: 10px 10px 20px;
}
/*Header - end
Status message - start*/
.statusmessage
{
    margin: 0 auto;
    width: 960px;
    display: none;
    position: absolute;
}
.statusmessage IMG
{
    vertical-align: middle;
}
.errormessage
{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #D20000;
    background: #FFD2D2;
    text-align: center;
}
.successmessage
{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #00D200;
    background: #D2FFD2;
    text-align: center;
}
/*Status message - end
Tabs - start*/
.tabcontainer
{
    margin: 0 auto;
    width: 900px;
}
.tabnav LI
{
    display: inline;
    list-style: none;
    padding-right: 5px;
}
.tabnav LI A
{
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
    padding: 4px 6px;
    outline: none;
}
.tabnav LI A:hover, .tabnav LI A:active, .tabnav LI.ui-tabs-selected A
{
    background: #777;
    color: #eee;
    text-decoration: none;
}
.tabdiv
{
    margin-top: 2px;
    background: #FFF;
    border: 1px solid #DEDBD1;
    padding: 5px;
}
.tabdiv LI
{

    margin-left: 0px;
}
/*Tabs - end
Upload - start*/
.uploadcontrol
{
}
/*Upload - end
Uploaded file list - start*/
.uploadedfilelist
{
    margin: 20px 0;
    display: none; /*This color should fade in and fade out when the files finish uploading*/ /*[disabled]background:#E1EEFE;*/
}
.uploadedfilelistmenu IMG
{
    vertical-align: middle;
    text-decoration: underline;
}
.uploadedfilelist UL
{
    margin: 5px 0;
    padding: 10px 36px;
    border: 1px solid #C0DCFD;
}
.uploadedfilelist UL LI
{
    padding: 5px 0;
}
/*Uploaded file list - end
download list - start*/
.downloads
{
    padding: 0 10px 10px;
}
.downloads IMG
{
    vertical-align: middle;
    width: 5%;
    margin-right: 10px;
}
.downloads SPAN
{
    float: right;
    color: #9B9B9B;
}
.downloads LI
{
    padding: 5px;
}
.field-validation-valid
{
    color: #FF0000;
}
.field-validation-error
{
    color: #FF0000;
}

input[type='text'], input[type='password']
{
    width: 400px;
    padding: 5px;
}
ul
{
    padding: 2px;
}
input[type='submit']
{
    width: 150px;
    height: 30px;
    margin-top: 5px;
}

/* DEFAULTS
----------------------------------------------------------*/

body
{
    background: #f7f7f7;
    font-size: .80em;
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #111;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}

/* HEADINGS
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #111;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}

/* PRIMARY LAYOUT ELEMENTS
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #ddd;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #555;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

/* TAB MENU
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color: #777;
    width: 100%;
    height: 45px;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li
{
    position: relative;
    width: 80px;
    float: left;
    padding: 5px;
}

.clearfix
{
    float: none;
}

div.menu ul li a, div.menu ul li a
{
    /*background-color: #465c71;*/
    border: 1px #aaa solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 10px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #eee;
    color: #000;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

div.menu ul li .selected
{
    background-color: #eee;
    color: #777;
    text-decoration: none;
}

/* FORM ELEMENTS
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline
{
    display: inline;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
    color: #111;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: #555;
}

.loginDisplay a:link
{
    color: #111;
}

.loginDisplay a:visited
{
    color: #555;
}

.loginDisplay a:hover
{
    color: #fff;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.ErrorInfo
{
    color: Red;
}

.FlashInfo
{
    position: relative;
    left: 200px;
    padding-top: 20px;
    float: left;
    top: 0px;
}

.FlashInfo label
{
    padding: 5px;
    background-color: #888;
    color: #fff;
}

a
{
    text-decoration: none;
}
a:hover
{
    background-color: #888;
    padding-left: 1px;
    padding-right: 1px;
    color: #fff;
}

.controlpanel
{
    color: #eee;
    font-weight: bold;
}

.HiddenDiv
{
    display: none;
}

.chkadmin, .chkupload, .chkdownload, .chkdelete, .chkrename
{
    margin-top: 10px;
}
.lbladmin, .lblupload, .lbldownload, .lbldelete, .lblrename
{
    margin-top: 10px;
    margin-right: 10px;
}

/* Generic context menu styles */
.contextMenu
{
    position: absolute;
    width: 120px;
    z-index: 99999;
    border: solid 1px #CCC;
    background: #EEE;
    padding: 0px;
    margin: 0px;
    display: none;
}

.contextMenu LI
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.contextMenu A
{
    color: #333;
    text-decoration: none;
    display: block;
    line-height: 20px;
    height: 20px;
    background-position: 6px center;
    background-repeat: no-repeat;
    outline: none;
    padding: 1px 5px;
    padding-left: 28px;
}

.contextMenu LI.hover A
{
    color: #FFF;
    background-color: #3399FF;
}

.contextMenu LI.disabled A
{
    color: #AAA;
    cursor: default;
}

.contextMenu LI.hover.disabled A
{
    background-color: transparent;
}

.contextMenu LI.separator
{
    border-top: solid 1px #CCC;
}

/*
	Adding Icons

	You can add icons to the context menu by adding
	classes to the respective LI element(s)
*/

.contextMenu LI.edit A
{
    background-image: url(../images/page_white_edit.png);
}
.contextMenu LI.cut A
{

}
.contextMenu LI.copy A
{

}
.contextMenu LI.paste A
{
    
}
.contextMenu LI.delete A
{
    background-image: url(../images/page_white_delete.png);
}
.contextMenu LI.quit A
{
    
}

#myDiv
{
    width: 150px;
    border: solid 1px #2AA7DE;
    background: #6CC8EF;
    text-align: center;
    padding: 4em .5em;
    margin: 1em;
    float: left;
}

#myList
{
    margin: 1em;
    float: left;
}

#myList UL
{
    padding: 0px;
    margin: 0em 1em;
}

#myList LI
{
    width: 100px;
    border: solid 1px #2AA7DE;
    background: #6CC8EF;
    padding: 5px 5px;
    margin: 2px 0px;
    list-style: none;
}

#options
{
    clear: left;
}

#options INPUT
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 150px;
}
.editdiv
{
}

.submitbutton
{
    margin-top:30px;
}

.submitbutton a
{
    padding:5px;
    border: 1px solid #ccc;
}
.submitbutton a:hover
{
    padding: 5px;
}