    <h2>
        Change Password
    </h2>
    <p>
    </p>
    <% form_tag(:action => "changepassword") do |f| %>
    <div class="accountInfo">
        <p>
            <Label ID="CurrentPasswordLabel">Old Password:</Label>
            <input type="password" name="oldpassword" value="" />
        </p>
        <p>
            <Label>New Password:</Label>
            <input type="password" name="newpassword" value="" />
        </p>
        <p>
            <Label>Confirm New Password:</Label>
            <input type="password" name="cofirmpassword" />
        </p>
        <p>
            <div class="submitbutton">
              <a href="#" onclick="document.forms[0].submit()" > Change password </a>
            </div>
            <input type="submit" value="Change password" style="display:none;" />
        </p>
    </div>
    <% end %>